<html>

<head>
    <link rel="stylesheet" href="./stylesheet.css">
</head>

<body>
    <!-- Vue程序开始 -->
    <div id="app" style="display:flex;flex-direction:column;height:100%">
        <!-- 功能区 -->
        <div class="function-area">
            <!-- 标题栏 -->
            <div class="title-bar">
                <!-- 窗口标题 -->
                <div class="title">
                    <span class="brand">ToDoDo</span> by Nova
                </div>
                <!-- 窗口控制按钮 -->
                <div class="control-box">
                    <button @click="pin()" v-show="!pinned"><img src="./assets/pin.svg"></button>
                    <button @click="close()" v-show="pinned"><img src="./assets/close.svg"></button>
                </div>
            </div>
            <!-- 添加任务操作区域 -->
            <div class="col">
                <!-- 总是显示的部分 -->
                <div class="input-group input-group-inv">
                    <!-- 任务名称 -->
                    <input type="text" v-model="newTask.title" class="major input" placeholder="添加新任务">
                    <!-- 展开全部选项 -->
                    <button @click="newTask.showExtra=!newTask.showExtra"><img v-bind:class="{'rotation180':newTask.showExtra}" src="./assets/down.svg"></button>
                    <!-- 添加任务 -->
                    <button @click="addTask()"><img src="./assets/add.svg"></button>
                </div>
                <!-- 默认隐藏的部分 -->
                <div v-bind:class="['col','add-task-panel',{'add-task-panel-expanded':newTask.showExtra}]">
                    <div class="input-group input-group-normal">
                        <!-- 任务的deadline -->
                        <input type="date" class="major" v-model="newTask.deadLine">
                        <!-- 任务的重要度 -->
                        <a class="outline-button outline-button-gray" v-show="newTask.importance===0" @click="newTask.importance=1">次要</a>
                        <a class="outline-button outline-button-blue" v-show="newTask.importance===1" @click="newTask.importance=2">普通</a>
                        <a class="outline-button outline-button-red" v-show="newTask.importance===2" @click="newTask.importance=0">重要</a>
                    </div>
                    <!-- 任务的具体信息 -->
                    <textarea v-model="newTask.content" class="textarea task-content"></textarea>
                </div>
            </div>
            <!-- 标签栏 -->
            <div class="tab-bar">
                <!-- 任务列表 -->
                <button v-bind:class="{'active':currentModel=='tasklist'}" @click="currentModel='tasklist';refreshTaskList()"><img src="./assets/tasklist.svg"></button>
                <!-- 所有任务 -->
                <button v-bind:class="{'active':currentModel=='alltask'}" @click="currentModel='alltask';refreshAllTasks();"><img src="./assets/all.svg"></button>
                <!-- 设置 
                <button v-bind:class="{'active':currentModel=='setting'}" @click="currentModel='setting'"><img src="./assets/setting.svg"></button> -->
            </div>
        </div>
        <!-- 窗口内容区域 -->
        <div class="content-area" v-show="currentModel=='tasklist'">
            <!-- 任务列表 -->
            <div class="tasklist">
                <!-- 任务列表项目 -->
                <div v-bind:class="['tasklist-item',{'tasklist-item-singleline':task.content=='','tasklist-item-multiline':task.content!='','tasklist-item-expand':task==taskList.editingTask}]" @click="editTask(task)" v-for="task in taskList.tasks">
                    <!-- checkbox -->
                    <button @click.stop="toggleTask(task)" v-bind:class="['checkbox',{'checkbox-blue':task.importance==1,'checkbox-gray':task.importance==0,'checkbox-red':task.importance==2}]"><div v-bind:class="['solid',{'checked':task.done}]" ></div> </button>
                    <!-- 默认情况下的正文 -->
                    <div class="content" v-show="taskList.editingTask!=task">
                        <div class="row">
                            <!-- 标题 -->
                            <div class="title">{{task.title}}</div>
                            <!-- 日期 -->
                            <div v-bind:class="['outline-button',{'outline-button-blue':Date.parse(task.deadLine)&gt;Date.now(),'outline-button-red':Date.parse(task.deadLine)&lt;Date.now()}]">
                                {{task.deadLine|shortDate}}
                            </div>
                        </div>
                        <div class="row">
                            <!-- 正文 -->
                            <div class="taskcontent">
                                {{task.content}}
                            </div>
                        </div>
                    </div>
                    <!-- 编辑任务状态下的正文 -->
                    <div class="content" v-show="taskList.editingTask==task">
                        <!-- 标题 -->
                        <div class="row input-group input-group-normal">
                            <input type="text" class="major" v-model="task.title">
                        </div>
                        <div class="row input-group input-group-normal">
                            <!-- 日期 -->
                            <input type="date" class="major" v-model="task.deadLine">
                            <!-- 重要程度 -->
                            <a class="outline-button outline-button-gray" v-show="task.importance===0" @click="task.importance=1" id="importanceButton">次要</a>
                            <a class="outline-button outline-button-blue" v-show="task.importance===1" @click="task.importance=2" id="importanceButton">普通</a>
                            <a class="outline-button outline-button-red" v-show="task.importance===2" @click="task.importance=0" id="importanceButton">重要</a>
                        </div>
                        <!-- 全文 -->
                        <textarea v-model="task.content" class="textarea task-content"></textarea>
                        <!-- 操作按钮 -->
                        <div class="row">
                            <button class="outline-button outline-button-blue command-button" @click.stop="taskList.editingTask=null">退出编辑</button>
                            <button class="outline-button outline-button-blue command-button" @click.stop="refreshTask(task)">撤销编辑</button>
                            <button class="outline-button outline-button-red command-button" @click.stop="cancelTask(task)">取消任务</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar" v-show="currentModel=='alltask'">
            <div class="row">
                <button class="toobar-button" @click="allTask.showDone=!allTask.showDone;allTask.currentPage=1;refreshAllTasks()"><img v-show="allTask.showDone" src="./assets/yes.svg"><img v-show="!allTask.showDone" src="./assets/no.svg">已完成</button>
                <button class="toobar-button" @click="allTask.showUndone=!allTask.showUndone;allTask.currentPage=1;refreshAllTasks()"><img v-show="allTask.showUndone" src="./assets/yes.svg"><img v-show="!allTask.showUndone" src="./assets/no.svg">未完成</button>
                <button class="toobar-button" @click="allTask.showCanceled=!allTask.showCanceled;allTask.currentPage=1;refreshAllTasks()"><img v-show="allTask.showCanceled" src="./assets/yes.svg"><img v-show="!allTask.showCanceled" src="./assets/no.svg">已取消</button>
                <div class="toolbar-pagger">
                    <button class="toobar-button" @click="allTaskPrePage"><img src="./assets/pre.svg"></button>
                    <div class="">{{allTask.currentPage}}/{{allTask.totalPage}}</div>
                    <button class="toobar-button" @click="allTaskNextPage"><img src="./assets/next.svg"></button>
                </div>

            </div>
        </div>
        <!-- 窗口内容区域 -->
        <div class="content-area" v-show="currentModel=='alltask'">
            <!-- 全部任务 -->
            <div class="tasklist">
                <!-- 任务项目 -->
                <div v-bind:class="['tasklist-item']" @click="allTask.detailingTask=task" v-for="task in allTask.tasks">
                    <!-- CheckBox -->
                    <button @click.stop="toggleTask(task)" v-bind:class="['checkbox',{'checkbox-blue':task.importance==1,'checkbox-gray':task.importance==0,'checkbox-red':task.importance==2}]"><div v-bind:class="['solid',{'checked':task.done}]" ></div> </button>
                    <!-- 列表正文 -->
                    <div class="content" v-show="allTask.detailingTask!=task">
                        <div class="row">
                            <div class="title">{{task.title}}</div>
                            <div v-bind:class="['outline-button',{'outline-button-blue':Date.parse(task.deadLine)&gt;Date.now(),'outline-button-red':Date.parse(task.deadLine)&lt;Date.now()}]">
                                {{task.deadLine|shortDate}}
                            </div>
                        </div>

                    </div>
                    <!-- 详情正文 -->
                    <div class="content" v-show="allTask.detailingTask==task">
                        <div class="row">
                            <div class="title">{{task.title}}</div>
                        </div>
                        <div class="row">
                            <span class="outline-button outline-button-gray">创建日期: {{task.createdAt}}</span>
                            <span class="outline-button outline-button-gray" v-show="task.doneDate!=''">完成日期: {{task.doneDate}}</span>
                        </div>
                        <div class="row">
                            <a class="outline-button outline-button-gray" v-show="task.importance===0" id="importanceButton">次要</a>
                            <a class="outline-button outline-button-blue" v-show="task.importance===1" id="importanceButton">普通</a>
                            <a class="outline-button outline-button-red" v-show="task.importance===2" id="importanceButton">重要</a>
                            <span class="outline-button outline-button-gray" v-show="task.deadLine!=''">截止日期: {{task.deadLine}}</span>
                            <span class="outline-button outline-button-gray" v-show="task.canceled==true">已取消</span>
                        </div>
                        <div class="row">
                            {{task.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script src="./main.js"></script>

</body>

</html>