<html>

<body>
    <div id="app">
        <div v-show="!showRegister">
            <input type="text" v-model="email">
            <input type="password" v-model="password">{{error}}
            <button @click="login">登陆</button>
            <a @click="showRegister=true">我还没有账号！</a>

        </div>
        <div v-show="showRegister">
            <input type="text" v-model="email">
            <input type="password" v-model="password">
            <input type="password" v-model="passwordRepeat"> {{error}}
            <button @click="register">注册</button>
            <a @click="showRegister=false">我已经有了账号！</a>

        </div>
    </div>
    <script src="./login.js"></script>
</body>

</html>